.home {
  min-height: 100vh;
  .side {
    padding-top: 16px;
  }
  .head {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s;
    .avatar {
      cursor: pointer;
      background-color: #87d068;
    }
  }
  .content {
    padding: 16px 50px;
    transition: all .2s;
  }
  .foot {
    text-align: center;
  }
  @media screen and (max-width: 760px) {
    .head {
      padding: 16px 16px;
    }
    .content {
      padding: 0;
    }
  }
}