.exce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  .img {
    width: 50%;
  }
  .des {
    margin-top: 40px;
    font-size: 16px;
  }
  .button {
    margin-top: 24px;
  }
}
.logbox {
  max-width: 250px;
  .center {
    display: flex;
    justify-content: center;
    p {
      padding: 0 22px;
      font-size: 20px;
    }
  }
  .button {
    width: 100%;
  }
}
.editable {
  position: relative;
  .input {
    padding-right: 60px;
    .textarea {
      resize: none;
    }
    .icon-check {
      position: absolute;
      right: 25px;
      bottom: 0px;
      width: 20px;
      line-height: 28px;
      cursor: pointer;
      &:hover {
        color: #108ee9;
      }
    }
    .icon-close {
      position: absolute;
      right: 0;
      bottom: 0px;
      width: 20px;
      line-height: 28px;
      cursor: pointer;
      &:hover {
        color: #108ee9;
      }
    }
  }
  .text {
    padding-right: 24px;
    .edit-icon {
      position: absolute;
      right: 0;
      width: 20px;
      line-height: 18px;
      cursor: pointer;
      &:hover {
        color: #108ee9;
      }
    }
  }  
}
.table {
  background-color: #ffffff;
}
.new {
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 768px) {
    .new-button {
      flex: 1;
    }
  }
}
