.exce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  .img {
    height: 50%;
  }
  .des {
    margin-top: 40px;
    font-size: 16px;
  }
  .button {
    margin-top: 24px;
  }
}
@media screen and (max-width: 576px) {
  .exce {
    margin-top: 16px;
  }
}
.logbox {
  max-width: 250px;
  .center {
    display: flex;
    justify-content: center;
    p {
      padding: 0 22px;
      font-size: 20px;
    }
  }
  .button {
    width: 100%;
  }
}
.dropdown {
  padding: 4px 7px;
  width: 100%;
  text-align: left;
  .down {
    position: absolute;
    right: 7px;
  }
}
.editable {
  position: relative;
  .input {
    padding-right: 60px;
    .icon-check {
      position: absolute;
      right: 25px;
      bottom: 0px;
      width: 20px;
      line-height: 28px;
      cursor: pointer;
      transition: color .2s;
      &:hover {
        color: #108ee9;
      }
    }
    .icon-close {
      position: absolute;
      right: 0;
      bottom: 0px;
      width: 20px;
      line-height: 28px;
      cursor: pointer;
      transition: color .2s;
      &:hover {
        color: #ff4d4f;
      }
    }
  }
  .text {
    padding-right: 24px;
    .edit-icon {
      position: absolute;
      right: 0;
      width: 20px;
      line-height: 18px;
      cursor: pointer;
      transition: color .2s;
      &:hover {
        color: #108ee9;
      }
    }
  }  
}
.list {
  .table {
    background-color: #ffffff;
  }
}
.new {
  display: flex;
  justify-content: flex-end;
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-modal {
      top: 0;
    }
  }
  @media screen and (max-width: 576px) {
    .new-button {
      flex: 1;
    }
  }
}
