.new-form-item + .new-form-item {
  margin-bottom: 24px;
}
.new-form-item:first-child {
  margin-bottom: 24px;
}
.mgmt-opts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}